overrides/config/codechickenlib.cfg
overrides/config/InvTweaks.cfg
overrides/config/MouseTweaks.cfg
overrides/config/jei/worldSettings.cfg
overrides/config/splash.properties
overrides/config/fmlModState.properties
overrides/config/BiomeTweaker/output/
overrides/resources/pack.mcmeta
overrides/config/presets
overrides/config/antiqueatlas/biome_textures.json
*.lnk
*/target/
