overrides/config/codechickenlib.cfg
overrides/config/fmlModState.properties
overrides/config/InvTweaks.cfg
overrides/config/MouseTweaks.cfg
overrides/config/splash.properties

overrides/config/jei/worldSettings.cfg
overrides/config/BiomeTweaker/output/
overrides/config/presets
overrides/config/antiqueatlas/biome_textures.json

overrides/resources/pack.mcmeta

*.lnk
*/target/
